
.App {
  text-align: center;
}

svg {
  cursor: crosshair;
  border: 1px solid;
}

.line-info {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.drawing {
  border: '1px solid #000';
  height: '500px' 
 }
