
.App {
  text-align: center;
}

svg {
  cursor: crosshair;
  border: 1px solid lightgray;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.line-number {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  color: #333;
  flex: 1;
}

.line-info {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 483px; 
  margin: 0 auto 20px; 
  text-align: left;
  font-size: 22px;
}

.line-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.line-info li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
}



/* Styles for showing circles */
.draggable-circle {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.draggable-circle:hover {
  cursor: grab;
}

.draggable-circle.show {
  opacity: 1;
}

.draggable-circle.hide {
  opacity: 0;
}

