
.App {
  text-align: center;
}

svg {
  cursor: crosshair;
  border: 1px solid lightgray;
}

.line-info {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.drawing {
  height: '500px' 
 }

 .linear-text-gradient {
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
